.build-board-container {
  display: flex;
  align-items: flex-start; /* Aligns the sidebar and board at the top */
  padding: 20px;
}

.sidebar {
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Ensures ships stack vertically */
  margin-right: 70px; /* Adds space between the ships and the board */
  align-items: flex-end;
  width: 250px;
}

.board-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ready-button {
  margin-top: 20px;
  background-color: #5d1568;
  color: white;
  padding: 15px 30px;
  border: 3px solid #410f49;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.not-ready-button {
  margin-top: 20px;
  background-color: #6f5a6a;
  border: 3px solid #3e2741;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease-in-out;
}

.ready-button:hover {
  background-color: #8e209f;
}

.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attack-button {
  background-color: #5d1568;
  color: rgb(243, 214, 214);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 3px solid #410f49;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.7rem;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.1s;
}

.attack-button-locked {
  background-color: #6f5a6a;
  border: 3px solid #3e2741;
  color: rgb(243, 214, 214);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.7rem;
}

.attack-button:hover {
  background-color: #8e209f;
  transform: scale(1.2); /* Scale the button up by 20% */
}

.guide{
  margin-left: 50px;
  align-self: center;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}