.navbar {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    background-color: #1e3a8a; /* Change to a blue color */
    padding: 1.5rem 3rem; /* Increase padding for a larger navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other elements */
    justify-content: space-evenly;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 2rem; /* Position the logo on the left */
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 4rem; /* Increase the gap between items */
    margin: 0;
    padding: 0;
  }
  
  .navbar-balance-list{
    list-style: none;
    align-items: center;
    position: absolute;
    right: 2rem;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #ff6161;
    text-decoration: underline;
  }
  
  .navbar-wallet {
    right: 2rem; /* Position the wallet button on the right */
    padding: 0.5rem; /* Add padding around the wallet button */
  }

  .navbar-balance {
    border: #0a1535 2px solid;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 10px;
    background: #7f9cec;
    border-radius: 5px;
    height: 50px;
    
}

.balance {
  font-weight: bold;
  font-size: 1.3rem;
}

.bonk-balance-text{
  font-size: 1.3rem;
  font-weight: bold;
  color: #0a1535;
}

.bonk-image{
  width: 30px;
}

.bonk-image-div{
  display: flex;
  justify-content: center;
  margin-right: 5px;
}